<h1>Breaking Bad Temporada <%= @season %></h1>
<% @actuall_episodes.each do |episode| %>
    <a href="<%= breakingbad_episode_path(@season, episode["episode_id"]) %>"> <%= episode["title"] %></a>
    <br>


<% end %>

